.aqua-slider-container,.aqua-slider-control-container{
	overflow: hidden;
	position: relative
}

.aqua-slider-container img{
	width:100% !important;
	height: 100% !important;
	left: 0% !important;
	position: absolute !important;
}

.aqua-slider-controler{
	background: url(aqua-imgs/aqua-control-set.png);
	background-repeat: no-repeat;
}

.aqua-slider-arrow{
	height:100%;
	width: 50px;
	border: none !important;
	z-index: 999 !important;
	position: absolute !important;
	cursor: pointer;
}

.aqua-left-control{
	left: 0% !important;
	background-position: -53px 50%;
}

.aqua-right-control{
	right: 0% !important;
	background-position: -99px 50%;
}

.aqua-right-control, .aqua-left-control{
	opacity: 0.7;
}

.aqua-slider-bot-container{
	width: 45%;
	left: 27.5%;
	right: 27.5%;
	height: 40px;
	position: absolute;
	bottom: 0%;
	z-index: 9999 !important;
	text-align: center;
}

.aqua-slider-bot-container div{
	height: 100%;
	width: auto;
	padding: 10px;
	margin: 0px auto 0px 25%;
	position: absolute;
	background-color: rgb(255, 255, 255);
}

.aqua-slider-tick{
	width: 20px !important;
	height: 24px !important;
	position: relative;
	background-position: -7px -26px;
	float: left;
	margin-right: 5px;
	cursor: pointer;
}

.aqua-slider-tick-select{
	background-position: -8px -26px;
}

.aqua-slider-tick-deselect{
	background-position: -26px -26px;
}

.aqua-slider-image-show{
	z-index: 99 !important;
	display: block;
}

.aqua-slider-image-hide{
	z-index: 99 !important;
	display: none;	
}